body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  padding: 16px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 12px;
  margin: 16px 0px 16px 0px;
}

.content {
  background: #e3f4ff;
  padding: 16px 10px 16px 10px;
  margin-bottom: 16px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 15px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  padding: 8px 24px;
}